.header {
    background: var(--header-bg-dark);
    border-bottom: 1px solid gray;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.logo {
    width: 130px;
    height: 40px;
    background-color: gray;
}
.logo__image {
    display: block;
    width: 100%;
    height: auto;
}
